<!--<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/reset.css">
        <link rel="stylesheet" href="../static/css/estilos.css">
        <title>FindServices</title>
    </head>

    <body class="body-index">
        <div id="principal">
            <%- include(`../views/layout/header`) %>-->
            <main class="main-index">
                <div class="bg-transparente" >
                    <h1>Encontre e ofereça negócios e serviços</h1>
                </div>

                <a href="/buscar"><button class="btn">Buscar</button></a>
                <a href="/cadastro"><button class="btn1">Oferecer</button></a>
            </main>
            

       <!-- </div>
        <%- include(`../views/layout/footer`) %>
    </body>
    

</html>-->
