<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/reset.css">
        <link rel="stylesheet" href="assets/css/estilos.css">
        <title>FindServices</title>
    </head>

    <body class="body-index-login">
        <div id="principal">
            <div class="p-5 mb-4 rounded-3">
                <div class="card-login">
                    <div class="card-header">
                        <h4 class="display-4 fw-bold center">ENTRAR EM SEU PERFIL</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                        <p class="col-md-8 fs-4">
                            
                        <p>
                            <label class="form-label" for="email"><i>E-mail:</i></label><br>
                            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" maxlength="50">
                        </p>
    
                        <p>
                            <label class="form-label" for="senha"><i>Senha:</i></label><br>
                            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" maxlength="50">
                        </p>

                        

                        <h3 class="cadastre">Ainda não tem uma conta?<br><a class="link" href="/cadastroUsuario">Cadastre-se agora!</a></h3>
                        
                        <a class="botaocad" href="/index"><button class="btn2">Continuar</button></a>

                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>

