            <main class="main-index body-index-img">
                <div class="bg-transparente" >
                    <h1>Encontre e ofereça negócios e serviços</h1>
                </div>

                <a href="/buscar"><button class="btn">Buscar</button></a>
                <a href="/cadastro"><button class="btn1">Oferecer</button></a>
            </main>

