<body class="body-missao">
    <div class="p-5 mb-4 rounded-3">
        <div class="card">
            <div class="card-header">
                <h4 class="display-4 fw-bold">MISSÃO</h4>
            </div>
            <div class="card-body">
            <p class="col-md-8 fs-4"> 
                Nossa Missão é levar soluções de serviços até você.Eget vitae mauris taciti vitae fringilla ultrices congue 
                dolor, lectus leo lacinia
                lectus aenean varius mi, facilisis eros pulvinar placerat suspendisse posuere ornare. habitant sollicitudin
                mattis et quisque lobortis hac mattis dictum libero, ipsum sit litora pretium feugiat tristique aenean
                aptent
                non, donec neque curabitur tristique lorem justo posuere scelerisque. luctus torquent sodales facilisis sed
                inceptos aptent aliquet felis nibh, nostra turpis sem in interdum etiam odio urna porttitor, volutpat etiam
                nunc
                imperdiet accumsan congue bibendum et. placerat egestas in rhoncus curabitur varius fames, id nunc ornare
                consequat libero, aliquet mollis habitasse inceptos convallis. </p>

            <p class="col-md-8 fs-4"> Eget vitae mauris taciti vitae fringilla ultrices congue dolor, lectus leo lacinia
                lectus aenean varius mi, facilisis eros pulvinar placerat suspendisse posuere ornare. habitant sollicitudin
                mattis et quisque lobortis hac mattis dictum libero, ipsum sit litora pretium feugiat tristique aenean
                aptent
                non, donec neque curabitur tristique lorem justo posuere scelerisque. luctus torquent sodales facilisis sed
                inceptos aptent aliquet felis nibh, nostra turpis sem in interdum etiam odio urna porttitor, volutpat etiam
                nunc
                imperdiet accumsan congue bibendum et. placerat egestas in rhoncus curabitur varius fames, id nunc ornare
                consequat libero, aliquet mollis habitasse inceptos convallis. </p>

            <p class="col-md-8 fs-4">Cursus platea quisque quis cras euismod hendrerit metus, mi torquent sapien eget
                suspendisse nulla tempus, nunc litora habitant curae imperdiet aptent. volutpat dapibus placerat sapien in
                nisl
                aliquam arcu ut laoreet augue molestie proin nulla, augue aenean nunc tempor placerat dictum ut eleifend
                torquent himenaeos accumsan. aliquet ligula posuere erat fermentum magna sagittis duis risus, phasellus
                luctus
                maecenas aliquam nostra nec hac rhoncus tempor, etiam consequat dictumst cursus consequat praesent lacinia.
                primis orci praesent ligula nec integer vulputate lacinia, bibendum curabitur donec varius conubia enim,
                lorem
                quisque at netus ultricies venenatis. </p>

            <p class="col-md-8 fs-4"> Nibh ultrices quisque enim tortor lacus diam fringilla potenti, lectus rhoncus
                feugiat
                nam convallis pharetra. </p>

            </div>
        </div>
    </div>

</body>





