body{
<<<<<<< HEAD:estilos.css
=======
    background-image: url(/assets/img/conexoes.jpg);
    background-size: 100%;
>>>>>>> ae7a5dfa896ac7d556412810f7164e074a499b4a:assets/css/estilos.css
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/conexoes.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
}

header{
    background-color: black;
    text-align: center;
    padding: 15px;
}

a, ul, li{
    list-style-type: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0px 20px;
}

a:hover{
    color: rgb(250, 77, 184);
}

.main-index{
    text-align: center;
    font-size: 60px;
    padding-top: 240px;
    padding-bottom: 150px;
    font-weight: 900;
    color: #ccc;
}

.btn{
    background-color: #ccc;
    border-style: solid;
    border-width: 4px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(65, 72, 78);
    padding: 15px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 50px;
    border-color: rgb(65, 72, 78);
}

.btn1{
    background-color: #ccc;
    border-style: solid;
    border-width: 4px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(65, 72, 78);
    padding: 15px;
    margin-top: 50px;
    border-color: rgb(65, 72, 78);
}

.btn:hover{
    background-color: white;
}

.btn1:hover{
    background-color: white;
}