<header class="header">
    <nav class="header-nav">
        <ul class="header-lista">
            <li><a class="header-item" href="../index">Home</a></li>
            <li><a class="header-item" href="/quemsomos">Quem somos</a></li>
            <li><a class="header-item" href="/missao">Missão</a></li>
            <li><a class="header-item" href="/">Sair</a></li>
        </ul>
    </nav>
</header>